#header{
    background-color: #fff !important;
    color: #FF0000 !important;
    box-shadow: 0px 0px 3px 0px #FF0000;
}
#header a:link, #header a:visited, #logout-form button {
    color: black !important;
}
div.breadcrumbs{
    background-color: #1c1f1f;
}
.module h2, .module caption, .inline-group h2{
    background-color: #1c1f1f;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background-color: #4e5557;
}
.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #d01919;
}
.button.default, input[type=submit].default, .submit-row input.default{
    background-color: #1c1f1f;
}
.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #d01919;
}
a:link, a:visited{
    color: #d01919;
}
